/*styles*/
form label {
	float: left;
}
form span {
	display: block;
	margin-left: 250px;
}

@media only screen and (max-width:500px) { 
	form label {
		float:inherit;
	}
  form span { 
	  margin-left : 25px;
	  }
}
