/*styles*/
form .label {
	float: left;
}
form span.field {
	display: block;
	margin-left: 250px;
}
input[type="button"] {
	margin-top: 8px;
	margin-bottom: 8px;
}
.result .label {
	margin: 0;
	float: left;	
}
.result .field {
	margin: 0;
 	display: block;
	margin-left: 110px;
}
.note {
	font-size: 80%;
}

@media only screen and (max-width:459px) { 
	form .label {
		float:inherit;
	}
	form span.field { 
	  margin-left : 30px;
	  }
}
