/*styles*/
form label {
	float: left;
}
form span {
	display: block;
	margin-left: 250px;
}
p {
	margin: 0;
}
input[type="button"] {
	margin-top: 8px;
	margin-bottom: 8px;
}
.result .col1 {
	margin: 0;
	float: left;	
}
.result .col2 {
	margin: 0;
 	display: block;
	margin-left: 110px;
}

@media only screen and (max-width:459px) { 
	form label {
		float:inherit;
	}
  form span { 
	  margin-left : 30px;
	  }
}
