/*styles*/
form .label {
	float: left;
	margin-top: 4px;
}
form .field {
	display: block;
	margin-left: 300px;
	margin-top: 4px;
	margin-bottom: 4px;
}
.result .label {
	margin: 0;
	float: left;	
}
.result .field {
	margin: 0;
 	display: block;
	margin-left: 110px;
}
.note {
	font-size: 80%;
}

@media only screen and (max-width:459px) { 
	form .label {
		float:inherit;
	}
	form .field { 
	  margin-left : 30px;
	  }
}
